.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: linear 300ms all;
}